.marca6 {
  grid-area: 16/42/20/46;
}

.marca7 {
  grid-area: 9/17/14/22;
}

.marca8 {
  grid-area: 9/39/13/43;
}

.marca9 {
  grid-area: 10/1/14/6;
}

.marca10 {
  grid-area: 14/21/19/26;
}

.marca11 {
  grid-area: 10/24/14/28;
}

.marca12 {
  grid-area: 21/6/25/10;
}

.marca13 {
  grid-area: 20/35/25/40;
}
