body {
  color: var(--white);
}

.choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  padding: 0.3rem;
  width: 100%;
  border-radius: 30px;
  background: var(--white);
  font-size: 1.5rem;
  font-family: "GothamBook", sans-serif;
  min-width: 80rem;
  box-shadow: 6px 6px 0 var(--greytransp);
  transition: all 0.2s;
  transform: scale(1);
}

.choice-container:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.choice-prefix {
  padding: 1rem 1rem 1rem 2rem;
  color: var(--red);
  font-weight: 700;
  align-self: center;
  font-size: 2.5rem;
  border-right: 1px solid var(--greytransp);
}

.choice-text {
  padding: 1rem 1rem 1rem 1.5rem;
  width: 100%;
  color: var(--black);
  font-family: "GothamBook", sans-serif;
  align-self: center;
}

.correct {
  background: var(--green2);
}

.incorrect {
  background: var(--red);
}

/* Header-HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 1.5rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 2.5rem;
  border: 0.3rem solid var(--black);
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
}

#progressBarFull {
  height: 3rem;
  background: var(--yellow3);
  width: 0%;
}

/* QUERY */

@media screen and (max-width: 1300px) {
  .choice-container {
    width: 20rem;
    min-width: 19rem;
    font-size: 1.2rem;
    min-width: 30rem;
    align-self: center;
  }

  .choice-prefix {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  #progressBar {
    width: 14rem;
  }
}
