.sound {
  display: none;
}

.cont-header {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 65%;
  height: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 5%;
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.img-index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.img-index img {
  width: 35rem;
  height: auto;
}

.btn-container {
  width: 25rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 2rem;
  font-weight: 900;
  padding: 1.2rem 0;
  width: 20rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-decoration: none;
  color: var(--black);
  background-color: var(--yellow2);
  border-radius: 2rem;
  box-shadow: -0.3rem 0.4rem 0.3rem var(--greytransp);
  transition: all 0.2s;
  transform: scale(1);
}

.btn:hover {
  background-color: var(--yellow3);
  color: var(--white);
  transform: scale(1.05);
}

.btn:active {
  background-color: var(--yellow2);
  color: var(--black);
  transform: scale(0.95);
  box-shadow: 0 0 0 var(--greytransp);
}

.btn:disabled {
  cursor: not-allowed;
  background-color: var(--grey);
  color: var(--white);
  transform: none;
}

#puntajes-btn {
  background: var(--yellow2);
  color: var(--black);
}

#puntajes-btn:hover {
  background-color: var(--red);
  color: var(--white);
  transform: scale(1.05);
}

#puntajes-btn:active {
  background-color: var(--red);
  color: var(--black);
  transform: scale(0.95);
  box-shadow: 0 0 0 var(--greytransp);
}

.cont-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 12%;
}

.prudencio {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0.8rem 2rem;
}

.prudencio img {
  width: 15rem;
  height: auto;
  position: absolute;
  bottom: 0;
}

.bolivar {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.bolivar img {
  width: 22rem;
  height: auto;
  position: absolute;
  bottom: 0;
}

/* End Page CSS */

.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

input {
  margin-bottom: 2.5rem;
  width: 90%;
  padding: 1rem;
  font-size: 2.5rem;
  box-shadow: -0.6rem 0.6rem 0 var(--greytransp);
  border-radius: 2rem;
  border: none;
}

input::placeholder {
  color: var(--grey);
  text-align: center;
}

#username {
  margin-bottom: 2rem;
  width: 100%;
  outline: none;
  text-align: center;
}

#lastname {
  margin-bottom: 2rem;
  width: 100%;
  outline: none;
  text-align: center;
}

#end-text {
  font-size: 3rem;
  color: var(--black);
  text-align: center;
}

#end-text-2 {
  font-size: 2rem;
  color: var(--black);
  text-align: center;
}

#saveScoreBtn {
  border: none;
}

#registro {
  font-size: 1.4rem;
  color: var(--white);
  text-align: center;
}

#finalScore {
  background: none;
  box-shadow: none;
  text-align: center;
  font-family: "";
  font-size: 8rem;
  color: var(--red);
  margin-bottom: 1.5rem;
  text-shadow: 4px 4px 0 var(--greytransp);
  font-family: "GothamBold", sans-serif;
  font-weight: 900;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .header {
    width: 98%;
  }
  .footer {
    width: 100%;
  }
  .footer img {
    width: 20rem;
    align-self: baseline;
  }
}
