@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.postimg.cc/PfgdpM6f/bg2.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.contenedor-body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(191, 70, 89, 0);
  background-blend-mode: multiply;
}

/* Tablero Juego */

.tablero-juego {
  transition: all 0.5s ease;
  transform: translateY(-200px) scale(0.5);
  opacity: 0;
}

.delay-tablero {
  transform: translateY(0px) scale(1);
  opacity: 1;
}

.down-tablero {
  transform: translateY(-200px) scale(0.5);
  opacity: 0;
}

/* Tablero Practica */

.tablero {
  transition: all 0.5s ease;
  transform: translateY(-200px) scale(0.5);
  opacity: 0;
}

.delay-tablero {
  transform: translateY(0px) scale(1);
  opacity: 1;
}

.down-tablero {
  transform: translateY(-200px) scale(0.5);
  opacity: 0;
}

.error {
  background-color: rgba(191, 70, 89, 0.7);
}

/* Error */

.error-msg {
  opacity: 0;
  position: absolute;
  left: 0;
  margin-left: 55px;
  color: white;
}

.error-msg-show {
  opacity: 1;
}

.error-msg h3 {
  font-size: 35px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* INSTRUCCIONES */

.inst-margen-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px 22px;
  gap: 10px;
  position: absolute;
  width: 300px;
  height: 650px;
  left: 0px;
  top: 50%;
  background: #008c44;
  border-radius: 25px;
  transition: all 0.5s ease;
  transform: translateX(-400px) translateY(-50%) scale(0);
  opacity: 0;
}

.transicion-inst {
  transform: translateX(0px) translateY(-50%) scale(1);
  opacity: 1;
}

.inst-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 21px 34px;
  gap: 10px;
  width: 280px;
  height: 620px;
  background: #ffffff;
  border-radius: 12px;
}

.inst-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 275px;
  height: 610px;
}

.inst-tittle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 10px;
  width: 275px;
  height: 83px;
  border-bottom: 1px solid #a8c315;
}

.inst-tittle h3 {
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.045em;
  color: #008c44;
}

.inst-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 275px;
  height: 449px;
}

.inst-text-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 275px;
  height: 439px;
}

.inst-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9px 0px;
  gap: 10px;
  width: 275px;
  height: 140px;
}

.inst-text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.045em;
  color: #000000;
}

.ejemplo img {
  width: 260px;
  height: 260px;
  border-radius: 10px;
}

/* sonidos */

.sonido {
  display: none;
}

/* BOTON JUEGO */
.cont-interfaz {
  width: 100%;
  height: 100%;
  position: absolute;
}

.btn-jugar {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease;
  transform: translate(-10%, 200%) scale(1);
}

.btn-up {
  transition: all 0.5s ease;
  transform: translate(-10%, -50%) scale(1);
}

.btn-jugar img {
  height: 80px;
}

/* Sustancias */

.container {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  transform: translateX(365px);
}

.desplegado {
  transform: translateX(65px);
}

.cta-desplegar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background: #ffdc5d;
  border-radius: 50px 0px 0px 50px;
  cursor: pointer;
  color: #008c44;
  font-size: 35px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 20px;
  gap: 30px;
  width: 300px;
  height: 456px;
  background-color: #eaeaea;
  border-radius: 20px 0px 0px 20px;
}

.tittle-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 42px;
  gap: 20px;
  width: 243px;
  height: 90px;
  border-bottom: 1px solid #adc90e;
}

.tittle-menu h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #008c44;
}

.close {
  padding: 5px 9px;
  background-color: #008c44;
  border-radius: 50px;
  color: white;
}

.close:hover {
  cursor: pointer;
}

.option-slider {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  width: 273px;
  height: 234px;
  overflow: hidden;
}

.option-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 273px;
  height: 234px;
  position: absolute;
  transition: all 0.1s ease-in-out;
}

.opcion-1 {
  visibility: hidden;
  opacity: 0;
}
.opcion-2 {
  visibility: hidden;
  opacity: 0;
}
.opcion-3 {
  visibility: hidden;
  opacity: 0;
}
.opcion-4 {
  visibility: hidden;
  opacity: 0;
}
.opcion-5 {
  visibility: hidden;
  opacity: 0;
}
.opcion-6 {
  visibility: hidden;
  opacity: 0;
}
.opcion-7 {
  visibility: hidden;
  opacity: 0;
}
.opcion-8 {
  visibility: hidden;
  opacity: 0;
}
.opcion-9 {
  visibility: hidden;
  opacity: 0;
}
.opcion-10 {
  visibility: hidden;
  opacity: 0;
}
.opcion-11 {
  visibility: hidden;
  opacity: 0;
}
.opcion-12 {
  visibility: hidden;
  opacity: 0;
}
.opcion-13 {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.img-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 273px;
  height: 147px;
}

.img-menu img {
  width: auto;
  height: 127px;
}

.text-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 223px;
  height: 77px;
}

.text-menu p {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #008c44;
  text-align: center;
}

.arrow-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 133px;
  height: 52px;
}

.arrow-menu img {
  width: auto;
  height: 52px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.arrow-menu img:hover {
  transform: scale(1.1);
}

.arrow-menu img:active {
  transform: scale(0.9);
}

/* Tablero de Juego */

.blur {
  filter: drop-shadow(5px 6px 1px rgba(0, 0, 0, 0.3));
}

/* Media Query */

/* @media screen and (max-width: 1400px) {
  .container {
    transition: all 0.3s ease;
    transform: translateX(355px);
  }

  .error-msg h3 {
    font-size: 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .desplegado {
    transform: translateX(55px);
  }

  .menu-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 35px 10px 40px;
    gap: 20px;
    background: #eaeaea;
    border-radius: 30px 0px 0px 30px;
    width: 300px;
    height: 650px;
  }

  .tittle-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    gap: 30px;
    width: 280px;
    height: 55px;
    border-bottom: 1px solid #adc90e;
  }

  .tittle-menu h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #008c44;
    text-align: left;
  }

  .close {
    padding: 5px 7.5px;
    background-color: #008c44;
    border-radius: 30px;
    color: white;
  }

  .close:hover {
    cursor: pointer;
  }

  .text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #008c44;
  }

  .content-menu {
    height: 680px;
    width: 300px;
  }

  .option-menu {
    width: 250px;
    gap: 8px;
  }

  .text-menu p {
    font-size: 15px;
  }

  .btn-jugar {
    transform: translate(-8%, 200%) scale(1);
  }

  .btn-up {
    transition: all 0.5s ease;
    transform: translate(-10%, -50%) scale(1);
  }

  .btn-jugar img {
    height: 60px;
  }
} */
