.img {
  height: 630px;
  width: 450px;
  background-size: cover;
  background-position: center;
  margin: 0.5rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(22, 1fr);
}

.marca1 {
  grid-area: 18/13/22/16;
}
.marca2 {
  grid-area: 7/13/13/17;
}
.marca3 {
  grid-area: 13/14/17/18;
}
.marca4 {
  grid-area: 7/10/12/15;
}
.marca5 {
  grid-area: 6/8/10/12;
}
.marca6 {
  grid-area: 8/2/12/6;
}
.marca7 {
  grid-area: 1/15/6/18;
}
.marca8 {
  grid-area: 11/15/13/17;
}
.marca9 {
  grid-area: 11/3/14/6;
}
.marca10 {
  grid-area: 2/13/4/15;
}
