.tablero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 90px;
  width: 1280px;
  height: 720px;
  box-shadow: -8px 8px 0 var(--greytransp);
  border-radius: 10px;
  overflow: hidden;
}

.clue-container {
  position: absolute;
  width: 450px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.5s ease;
  transform: translateX(-415px);
}

.show-btn {
  padding: 20px 7px;
  background: var(--white);
  border-radius: 0 10px 10px 0;
  box-shadow: 4px 4px 0 var(--greytransp);
  cursor: pointer;
  z-index: 1;
}

.show-text {
  writing-mode: vertical-lr;
  color: var(--verde6);
  font-weight: 500;
  font-size: 20px;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 650px;
  width: 94%;
  background: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: -4px 4px 0 var(--greytransp);
}

.show {
  transform: translateX(0px);
}

.marca1 {
  grid-area: 10/22/14/26;
}

.marca2 {
  grid-area: 9/33/11/37;
}

.marca3 {
  grid-area: 12/16/16/20;
}

.marca4 {
  grid-area: 19/32/23/36;
}

.marca5 {
  grid-area: 5/28/8/31;
}

/* Media Query */

@media screen and (max-width: 1400px) {
  /* Tablero */

  .tablero {
    top: 50px;
    width: 977.49px;
    height: 550px;
  }

  .grid {
    width: 100%;
    height: 100%;
  }

  .clue-container {
    height: 510px;
  }

  .texto {
    height: 510px;
  }
}
