.tablero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 50;
  left: 50;
  width: 1280px;
  height: 720px;
  box-shadow: -8px 8px 0 var(--greytransp);
  border-radius: 10px;
  overflow: hidden;
}

.clue-container {
  position: absolute;
  width: 390px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.5s ease;
  transform: translateX(350px);
}

.show-btn {
  padding: 20px 7px;
  background: var(--white);
  border-radius: 10px 0 0 10px;
  box-shadow: -4px 4px 0 var(--greytransp);
  cursor: pointer;
  z-index: 1;
}

.show-text {
  writing-mode: vertical-lr;
  color: var(--verde6);
  font-weight: 500;
  font-size: 20px;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 650px;
  width: 75%;
  background: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: -4px 4px 0 var(--greytransp);
}

.show {
  transform: translateX(0px);
}

.marca1 {
  grid-area: 6/15/10/19;
}

.marca2 {
  grid-area: 9/15/13/20;
}

.marca3 {
  grid-area: 13/3/17/7;
}

.marca4 {
  grid-area: 12/31/16/35;
}

.marca5 {
  grid-area: 12/8/16/12;
}

.marca6 {
  grid-area: 15/15/19/19;
}

.marca7 {
  grid-area: 9/25/13/29;
}

.marca8 {
  grid-area: 10/19/14/24;
}

.marca9 {
  grid-area: 18/20/22/24;
}

/* Media Query */

@media screen and (max-width: 1400px) {
  /* Tablero */

  .tablero {
    top: 50;
    left: 50;
    width: 977.49px;
    height: 550px;
  }

  .grid {
    width: 100%;
    height: 100%;
  }

  .clue-container {
    width: 400px;
    height: 400px;
  }

  .texto {
    height: 510px;
  }
}
