.tablero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 90px;
  width: 1280px;
  height: 720px;
  box-shadow: -8px 8px 0 var(--greytransp);
  border-radius: 10px;
  overflow: hidden;
}

.clue-container {
  position: absolute;
  width: 450px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.5s ease;
  transform: translateX(417px);
}

.show-btn {
  padding: 20px 7px;
  background: var(--white);
  border-radius: 10px 0 0 10px;
  box-shadow: -4px 4px 0 var(--greytransp);
  cursor: pointer;
  z-index: 1;
}

.show-text {
  writing-mode: vertical-lr;
  color: var(--verde6);
  font-weight: 500;
  font-size: 20px;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 650px;
  width: 96%;
  background: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: -4px 4px 0 var(--greytransp);
}

.show {
  transform: translateX(0px);
}

.marca1 {
  grid-area: 7/16/9/20;
}

.marca2 {
  grid-area: 10/15/12/20;
}

.marca3 {
  grid-area: 14/4/16/6;
}

.marca4 {
  grid-area: 13/32/16/34;
}

.marca5 {
  grid-area: 13/9/15/11;
}

.marca6 {
  grid-area: 15/15/18/19;
}

.marca7 {
  grid-area: 10/27/13/29;
}

.marca8 {
  grid-area: 11/19/13/24;
}

.marca9 {
  grid-area: 19/21/21/23;
}

/* Media Query */

@media screen and (max-width: 1400px) {
  /* Tablero */

  .tablero {
    top: 50px;
    width: 977.49px;
    height: 550px;
  }

  .grid {
    width: 100%;
    height: 100%;
  }

  .clue-container {
    height: 510px;
  }

  .texto {
    height: 510px;
  }
}
